.home {
    min-height: 94vh;
    background-color: rgb(41, 3, 53);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center
}

nav {
    display: flex
}

.active {
    opacity: 0
}
